<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
{{include 'web2py_ajax.html'}}
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="{{=URL('static','js_old/jquery.mask.js')}}"></script>
    <script src="SpryValidationTextField.js" type="text/javascript"></script>
    <link href="SpryValidationTextField.css" rel="stylesheet" type="text/css" />
    <link href="{{=URL('static','css_old/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css_old/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="{{=URL('static','css_old/web2py.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{=URL('static','css_old/web2py-bootstrap4.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{=URL('static','css_old/padrao.css')}}"/>
    {{block head}}
    {{end head}}

    <title>Controle de Validade</title>
</head>
<body>
    <div class="logo">
    <a href="{{=URL('index')}}"> <img src="{{=URL('static','images_old/logo.png')}}" width="200" height="100"/></a>
    </div>
                            <!-- BARRA DE NAVEGAÇÃO / MENU -->
    <nav id="naveg_2">
        <ul>
          {{if URL(args=request.args) == URL('index'):}}
            <a id="naveg" class="" href="{{=URL('index')}}">Controle de Validade</a>
            <a id="naveg" href="{{=URL('cadKits')}}">Cadastro Kits</a>
            <a id="naveg" href="{{=URL('kits')}}">Kits</a>
            <a id="naveg" href="{{=URL('relatorio')}}">Relatorio</a>
            <a id="naveg" href="{{=URL('cadProdutos')}}">Cadastro Produtos</a>
          {{elif URL(args=request.args) == URL('cadKits'):}}
            <a id="naveg" href="{{=URL('index')}}">Controle de Validade</a>
            <a id="naveg" class="" href="{{=URL('cadKits')}}">Cadastro Kits</a>
            <a id="naveg" href="{{=URL('kits')}}">Kits</a>
            <a id="naveg" href="{{=URL('relatorio')}}">Relatorio</a>
            <a id="naveg" href="{{=URL('cadProdutos')}}">Cadastro Produtos</a>
        </ul>
        {{else: }}
          <a id="naveg" href="{{=URL('index')}}">Controle de Validade</a>
          <a id="naveg" href="{{=URL('cadKits')}}">Cadastro Kits</a>
          <a id="naveg" href="{{=URL('kits')}}">Kits</a>
          <a id="naveg" href="{{=URL('relatorio')}}">Relatorio</a>
          <a id="naveg" href="{{=URL('cadProdutos')}}">Cadastro Produtos</a>
    </ul>
    {{pass}}

    </nav>
    <div class="marrom_C">
{{block conteudo}}
{{end conteudo}}
    </div>
<!-- FIM DO MENU -->
{{block script}}
{{end script}}

</body>
</html>
