.buttontext{
  color: white
}

/*
table{
    background-color: #0000008a;
    color: #ffffff;
    text-align: center;
    font-family: 'Font_Prod';
    font-size:20px;
    margin-top: 130px;
    width: 85%;
    margin-left: 7.5%;
		margin-right: 7.5%;
    border-collapse: collapse;
    border-radius: 20px;

}*/
