{{extend 'master.html'}}


{{block head}}
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/cadKits.css')}}"/>

{{end head}}


{{block conteudo}}

<div class="newProd">
  {{=cadKits.custom.begin}}
		<center>
			<div class="cadastro" id="form">
				{{=cadKits.custom.widget.Nome}}
        {{=cadKits.custom.widget.QuantidadeKits}}
        {{=cadKits.custom.widget.ID_Estoque}}
        {{=cadKits.custom.widget.QuantidadeProdutos}}
        <button type="button" name="Add" class="add_rm" id="Adicionar">+</button>
        <button type="button" name="Rm" class="add_rm" id="Remover">-</button>
			</div>
    <input type="submit" value="Adicionar"></br>
		</center>
  {{=cadKits.custom.end}}
</div>



{{end conteudo}}
{{block script}}
<script src="{{=URL('static','js/adicionar_remover.js')}}"></script>
{{end script}}
