{{extend 'master.html'}}
{{block head}}
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/home.css')}}"/>


{{end block}}

{{block conteudo}}

  <table id="TblProduto">
        <tr>
            <th id="DescCamp">Produto</th>
            <th id="DescCamp">Lote</th>
            <th id="DescCamp">Quantidade</th>
            <th id="DescCamp">Data de Validade</th>
        </tr>
        {{for i, produto in enumerate(tabela):}}
        {{if i == quantidadePagina: break}}
        <tr>
            <td id="DescProd">{{=produto.Produto.ProdutoDescricao}}</td>
            <td id="DescProd">{{=produto.EntradaProdutoEstoque.Lote}}</td>
            {{if produto.TipoUnidade.TipoUnidadeDescricao == "Unidade":}}
              <td id="DescProd">{{=int(produto.EntradaProdutoEstoque.Quantidade)}} Uni</td>
            {{else:}}
              <td id="DescProd">{{=produto.EntradaProdutoEstoque.Quantidade}} g</td>
            {{pass}}
            <td id="DescProd">{{=produto.EntradaProdutoEstoque.Validade.strftime("%d/%m/%Y")}}</td>
        </tr>
        {{pass}}


    </table>
    <div class="paginacao">
        {{if len(tabela) > quantidadePagina:}}
        <button class="bt"><a class="btn btn-default" href="{{=URL(args=[paginacao - 1])}}">Anterior</a></button>
          {{for x in paginas:}}
            <button class="bt"><a href="{{=URL(args=x-1)}}">{{=x}}</a></button>
          {{pass}}
          <button class="bt"><a href="{{=URL(args=[paginacao + 1])}}">Próximo</a></button>

        {{elif len(tabela) < quantidadePagina:}}
          <button class="bt"><a class="btn btn-default" href="{{=URL(args=[paginacao - 1])}}">Anterior</a></button>
          {{for x in paginas:}}
            <button class="bt"><a href="{{=URL(args=x-1)}}">{{=x}}</a></button>
          {{pass}}
            <button class="bt" disabled>Próximo</button>
          {{elif URL(args=[paginacao]) == URL("index/0"):}}
          <button class="bt" disabled>Anterior</button>
          {{for x in paginas:}}
            <button class="bt"><a href="{{=URL(args=x-1)}}">{{=x}}</a></button>
          {{pass}}
          <button class="bt"><a href="{{=URL(args=[paginacao + 1])}}">Próximo</a></button>

      {{pass}}
    </div>



<!--<form action=""  enctype="multipart/form-data" method="post">-->
  <div class="ModalCad_Exclu">
    <button id="Btn-Estoque"><i id="bagPlus"class="fas fa-cart-plus"></i></button>
      <div id="simpleModal" class="modal">
        <form action="#" enctype="multipart/form-data" method="post" id="entrada">
          <div class="modal-content">
            <div class="modal-header">
                <h2>ENTRADA DE PRODUTOS </h2>
                <span class="closeBtn">&times;</span>
                  <fieldset id="Desc_Cad">
                    <p>
                        PRODUTO
                        LOTE
                        VALIDADE
                        QUANTIDADE
                    </p>
                      </fieldset><br>
                      <fieldset id="inputs">
                        <!--{{=saida}}-->
                        {{=entradaProdutos.custom.begin}}
                          {{=entradaProdutos.custom.widget.ID_Produto}}
                          {{=entradaProdutos.custom.widget.Lote}}
                          {{=entradaProdutos.custom.widget.Validade}}
                          {{=entradaProdutos.custom.widget.Quantidade}}
                        {{=entradaProdutos.custom.end}}
                        {{if entradaProdutos.errors:}}
                          <div class="error">
                          <div class="erro">{{=entradaProdutos.errors.ID_Produto}}</div>
                            <div class="erro">{{=entradaProdutos.errors.Lote}}</div>
                            <div class="erro">{{=entradaProdutos.errors.Validade}}</div>
                            <div class="erro">{{=entradaProdutos.errors.Quantidade}}</div>
                          </div>
                        {{pass}}
                      </fieldset>
                      <button type="submit"><i class="far fa-check-circle"></i></button>
                      <button type="reset" id='cancelaCad'><i class="far fa-times-circle"></i></button>
              </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ModalExclusao">
      <button id="Btn_EstoqueEX"><i class="far fa-trash-alt"></i></button>
      <div id="simpleModal-eX" class="modalEx">
        <form action="#" enctype="multipart/form-data" method="post" id="saida">
          <div class="modal-contentEx">
            <div class="modal-headerEx">
              <h2>SAÍDA DE PRODUTOS</h2>
              <span class="closeBtnEx">&times;</span>
              <fieldset id="Desc_eX">
                  <p>
                      PRODUTO
                      DATA
                      QUANTIDADE
                  </p>
                  </fieldset><br>
                  <fieldset id="inputs-eX">
                    {{=saida.custom.begin}}
                      {{=saida.custom.widget.ID_EntradaProdutoEstoque}}
                      {{=saida.custom.widget.Data}}
                      {{=saida.custom.widget.Quantidade}}
                    {{=saida.custom.end}}
                    {{if saida.errors:}}
                      <div class="error">
                      <div class="erro">{{=saida.errors.ID_EntradaProdutoEstoque}}</div>
                        <div class="erro">{{=saida.errors.Data}}</div>
                        <div class="erro">{{=saida.errors.Quantidade}}</div>
                      </div>
                    {{pass}}
                  </fieldset>

                  <button type="submit"><i class="far fa-check-circle"></i></button>
                  <button type="reset" id='cancelaCadEx'><i class="far fa-times-circle"></i></button>
                  </div>
              </div>
            </form>
         </div>
      </div>
<!--</form>-->

{{end block}}
