{{extend 'master.html'}}

{{block head}}
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/home.css')}}"/>
{{end block}}

{{block conteudo}}

<center>
  <table class="TblProduto">
        <tr>
            <th id="DescCamp">KIT</th>
            <th id="DescCamp">PRODUTOS DO KIT</th>
            <th id="DescCamp">QUANTIDADE DO KIT</th>
        </tr>
        {{for produto in range(len(nome)):}}
          <tr>
              <td id="DescProd">{{=nome[produto]}}</td>
              <td id="DescProd">{{=itens[produto]}}</td>
              <td id="DescProd">{{=qtd_kit[produto]}}</td>

              <th id="DescCamp"><button>VISUALIZAR</button></th>
          </tr>
      {{pass}}

    </table>
