{{extend 'master.html'}}


{{block head}}
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/home.css')}}"/>
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/relatorio.css')}}"/>
{{end head}}

{{block conteudo}}
<center>
  <form action="" enctype="multipart/form-data" method="post">
    <div class="relatorio">
      {{=relatorio.custom.begin}}
          <label id="Inicial" for="dataInicial">Data Inicial</label>
          <label id="Final" for="dataFinal"> Data Final</label><br />
          {{=relatorio.custom.widget.dataInicial}}
          {{=relatorio.custom.widget.dataFinal}}<br />
          <button class="btnR button-green" type="submit">Relatório</button>
      {{=relatorio.custom.end}}
    </div>
  </form>
  <table class="TblProduto">
        <tr>
            <th id="DescCamp">Produto</th>
            <th id="DescCamp">Lote</th>
            <th id="DescCamp">Data</th>
            <th id="DescCamp">Quantidade</th>
            <th id="DescCamp">Tipo</th>

        </tr>
          {{for produto in tabelaEntrada:}}
            <tr>
                  <td id="DescProd">{{=produto.Produto.ProdutoDescricao}}</td>
                  <td id="DescProd">{{=produto.EntradaProdutoEstoque.Lote}}</td>
                  <td id="DescProd">{{=produto.EntradaProdutoEstoque.Data.strftime("%d/%m/%Y")}}</td>
                  {{if produto.TipoUnidade.TipoUnidadeDescricao == "Unidade":}}
                    <td id="DescProd">{{=int(produto.EntradaProdutoEstoque.Quantidade)}} Uni</td>
                  {{else:}}
                    <td id="DescProd">{{=produto.EntradaProdutoEstoque.Quantidade}} g</td>
                  {{pass}}
                  <td id="DescProd">Entrada</td>
            </tr>
            {{pass}}
            {{for produtoS in tabelaSaida:}}
              <tr>
                    <td id="DescProd">{{=produtoS.Produto.ProdutoDescricao}}</td>
                    <td id="DescProd">{{=produtoS.Estoque.Lote}}</td>
                    <td id="DescProd">{{=produtoS.SaidaProdutoEstoque.Data.strftime("%d/%m/%Y")}}</td>
                    {{if produtoS.TipoUnidade.TipoUnidadeDescricao == "Unidade":}}
                      <td id="DescProd">{{=int(produtoS.SaidaProdutoEstoque.Quantidade)}} Uni</td>
                    {{else:}}
                      <td id="DescProd">{{=produtoS.SaidaProdutoEstoque.Quantidade }} g</td>
                    {{pass}}
                    <td id="DescProd">Saida</td>
              </tr>

          {{pass}}
          {{for produtoV in tabelaVencido:}}
            <tr>
                  <td id="DescProd">{{=produtoV.Produto.ProdutoDescricao}}</td>
                  <td id="DescProd">{{=produtoV.Estoque.Lote}}</td>
                  <td id="DescProd">{{=produtoV.Estoque.DataDesativacao.strftime("%d/%m/%Y")}}</td>
                  {{if produtoV.TipoUnidade.TipoUnidadeDescricao == "Unidade":}}
                    <td id="DescProd">{{=int(produtoV.Estoque.Quantidade)}} Uni</td>
                  {{else:}}
                    <td id="DescProd">{{=produtoV.Estoque.Quantidade }} g</td>
                  {{pass}}
                  <td id="DescProd">Vencido</td>
            </tr>

          {{pass}}


    </table>
    {{=gerar}}

</center>

{{end conteudo}}
