{{extend 'master.html'}}


{{block head}}
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/login.css')}}"/>
{{end head}}


{{block conteudo}}

<center>
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="#" enctype="multipart/form-data" method="post">
        <i class="fa fa-user icon"></i>
        <div>
          {{=form.custom.begin}}
            {{=form.custom.widget.email}}
            {{=form.custom.widget.password}}
            <button type="submit">Login</button>
            <!--<button><a href="{{=URL(args='request_reset_password')}}">Esqueci minha senha</a></button>
            <button><a href="{{=URL(args='register')}}">Novo Usuário</a></button>-->
          {{=form.custom.end}}
        </div>
      </form>
    </div>
</div>

</center>
    {{block page_js}}

    {{end page_js}}

{{end conteudo}}
{{block script}}
<script src="{{=URL('static','js/adicionar_remover.js')}}"></script>
{{end script}}
